#nav-bar {
	align-items: center;
	background: #00a087;
	color: #e8fdff;
	display: flex;
	font-size: 2em;
	height: 80px;
	padding: 0 2em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

#nav-bar img {
	margin-right: 10px;
	height: 80px;
	width: 80px;
	#FF0000
}