.container {
  background-color: white;
  margin: 0 auto;
  width: 450px;
  padding: 3em 2em 6em;
}

.new-tweet,
article {
  border: 1px solid #999;
  border-radius: 5px 5px 5px 5px;
}

.new-tweet {
  background-color: #eee;
  padding: 10px;
}

.new-tweet h2 {
  margin: 0px;
  border-bottom: 1px solid black;
}

.new-tweet form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-tweet textarea {
  width: 100%;
  margin: 20px 0 6px;
}

.new-tweet .red-text {
  color: red;
}

#tweets {
  margin: 30px auto;
}

#tweets header,
#tweets footer {
  padding: 10px;
}

#tweets section {
  padding: 20px;
}

#tweets article {
  margin-bottom: 30px;
}

#tweets header {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#tweets img {
  border-radius: 5px;
  max-width: 60px;
  position: absolute;
}

#tweets .name {
  margin-left: 70px;
  margin-top: 10px;
}

#tweets .handle {
  font-size: .8em;
  color: #999;
}

#tweets footer {
  font-size: .8em;
  border-top: 1px solid #f1f1f1;
  display: flex;
  justify-content: space-between;
}

.tweet .icons {
  align-self: center;
  display: none;
}

.tweet.hover .icons {
  display: initial;
}



